<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>VKU Uniform</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" th:href="@{./}">
        <img th:src="@{image/logo-VKU.jpg}" alt="logo" style="width:40px;">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/list}">Danh sách</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{./add}">Thêm mới</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{./export}">Xuất file</a>
        </li>
    </ul>
</nav>
<!--<a href="chrome://flags/#unsafely-treat-insecure-origin-as-secure" target="_blank">Unsafely treat insecure origin as secure</a>-->
<span>chrome://flags/#unsafely-treat-insecure-origin-as-secure</span>
<div id="qr-reader" style="width: 960px"></div>
<div id="qr-reader-results"></div>
</body>
<script th:src="@{js/html5-qrcode.min.js}"></script>
<script>
    function docReady(fn) {
        // see if DOM is already available
        if (document.readyState === "complete"
            || document.readyState === "interactive") {
            // call on next available tick
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }

    docReady(function () {
        var resultContainer = document.getElementById('qr-reader-results');
        var lastResult, countResults = 0;
        function onScanSuccess(decodedText, decodedResult) {
            if (decodedText !== lastResult) {
                ++countResults;
                lastResult = decodedText;
                // Handle on success condition with the decoded message.
                console.log(`Scan result ${decodedText}`, decodedResult);
                // resultContainer.innerHTML = decodedText;
                window.location = `/check?code=${decodedText}`;
            }
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 500 });
        html5QrcodeScanner.render(onScanSuccess);
    });
</script>
</html>