<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
<!--    <title>VKU Uniform</title>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap-4-5-3.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/bootstrap-datepicker.min.js}"></script>
    <style type='text/css'>
        .table-active {
            counter-reset: rowNumber;
        }
        .table-active tr:not(:first-child) {
            counter-increment: rowNumber;
        }

        .table-active tr td:first-child::before {
            content: counter(rowNumber);
        }
        .table-active tr td:first-child {
            text-align: center;
        }
    </style>
</head>
<body>
<!--<a class="navbar-brand" href="/">-->
<!--    <img th:src="@{image/banner.jpg}" alt="logo" style="width: 100%">-->
<!--</a>-->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" th:href="@{./}">
        <img th:src="@{image/logo-VKU.jpg}" alt="logo" style="width:40px;">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/list}">Danh sách</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{./add}">Thêm mới</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{./export}">Xuất file</a>
        </li>
        <li class="nav-item">
            <marquee class="nav-link"><p style="font-size: x-large">Theo dõi Fanpage <font style="color: red">Tuổi trẻ Trường Đại học Công nghệ Thông tin và Truyền thông Việt - Hàn</font> hoặc liên hệ <font style="color: red">02363667191</font> để để biết về thời gian nhận áo!!</p></marquee>
        </li>
    </ul>
</nav>
<div class="col-3"></div>
<div class="container col-8">
<!--    <h1>VKU uniform sales manager</h1>-->
    <form action="/list">
        <div class="form-row">
            <div class="col-auto">
                <label for="fromTime">Từ ngày: </label>
            </div>
            <div class="col-auto">
                <div class="input-group date" id="datepicker1">
                    <input type="text" id="fromTime" placeholder="dd/mm/yyyy" name="fromTime">
                    <span class="input-group-append"></span>
                </div>
            </div>
            <div class="col-auto">
                <label for="toTime">Đến ngày: </label>
            </div>
            <div class="col-auto">
                <div class="input-group date col" id="datepicker2">
                    <input type="text" id="toTime" placeholder="dd/mm/yyyy" name="toTime">
                    <span class="input-group-append"></span>
                </div>
            </div>
            <script type="text/javascript">
                $(function() {
                    $('#datepicker1').datepicker({
                        format: 'dd/mm/yyyy',
                    });
                    $('#datepicker2').datepicker({
                        format: 'dd/mm/yyyy'
                    });
                });
            </script>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Cập nhật</button>
            </div>
        </div>
    </form>
    <a href="/add" class="btn btn-success">Thêm mới</a>
    <table class="table table-active">
        <tr class="fble_htr">
            <th>STT</th>
            <th>Họ và Tên</th>
            <th>Số điện thoại</th>
            <th>Lớp</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Size áo</th>
            <th>Đã nhận</th>
            <th>Thao tác</th>
        </tr>
        <tr th:each="student : ${students}">
            <td></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.class_name}"></td>
            <td th:text="${student.gender} ? 'Nam' : 'Nữ'"></td>
            <td th:text="${student.birthday}"></td>
            <td th:class="${student.size}"></td>
            <td>
                <a th:href="@{/receive?id={id}(id=${student.id})}" th:text="${student.received} ? 'Đã nhận áo' : 'Chưa nhận áo'" class="btn btn-secondary" id="receive-btn"></a>
            </td>
            <td>
                <a th:href="@{/edit?id={id}(id=${student.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete?id={id}(id=${student.id})}" class="btn btn-danger" id="del">Delete</a>
            </td>
        </tr>
    </table>
    <script th:inline="javascript">
        const s1 = document.getElementsByClassName("1")
        for(var s in s1) {
            s1[s].innerHTML = "Nam S";
        }
        const s2 = document.getElementsByClassName("2")
        for(var s in s2) {
            s2[s].innerHTML = "Nam M";
        }
        const s3 = document.getElementsByClassName("3")
        for(var s in s3) {
            s3[s].innerHTML = "Nam L";
        }
        const s4 = document.getElementsByClassName("4")
        for(var s in s4) {
            s4[s].innerHTML = "Nam XL";
        }
        const s5 = document.getElementsByClassName("5")
        for(var s in s5) {
            s5[s].innerHTML = "Nam XXL";
        }
        const s6 = document.getElementsByClassName("6")
        for(var s in s6) {
            s6[s].innerHTML = "Nam XXXL";
        }
        const s7 = document.getElementsByClassName("7")
        for(var s in s7) {
            s7[s].innerHTML = "Nữ S";
        }
        const s8 = document.getElementsByClassName("8")
        for(var s in s8) {
            s8[s].innerHTML = "Nữ M";
        }
        const s9 = document.getElementsByClassName("9")
        for(var s in s9) {
            s9[s].innerHTML = "Nữ L";
        }
        const s10 = document.getElementsByClassName("10")
        for(var s in s10) {
            s10[s].innerHTML = "Nữ XL";
        }
        const s11 = document.getElementsByClassName("11")
        for(var s in s11) {
            s11[s].innerHTML = "Nữ XXL";
        }
        const s12 = document.getElementsByClassName("12")
        for(var s in s12) {
            s12[s].innerHTML = "Nữ XXXL";
        }
    </script>
</div>
<!--<script>-->
<!--    if (localStorage.getItem('scroll')!=null) {-->
<!--        $(window).scrollTop(localStorage.getItem('scroll'));-->
<!--        console.log($(window).scrollTop());-->
<!--    }-->
<!--</script>-->
<!--<script>-->
<!--    document.getElementById('del').addEventListener('click', function () {-->
<!--        localStorage.setItem('scroll', $(window).scrollTop());-->
<!--    })-->
<!--</script>-->
</body>
<!--<script>-->
<!--    setTimeout(() => {-->
<!--        document.location.reload();-->
<!--    }, 3000);-->
<!--</script>-->
</html>